{% extends "base.html" %} {% block content %}
<!doctype html>
<html>
  <head>
    <title>HabitFlow</title>
  </head>

  <body>
    <h1>HabitFlow</h1>

    <p>
      Build powerful habits and track your daily progress. Stay consistent and
      improve your life one day at a time.
    </p>

    <img src="C:\Users\91897\Downloads\landing_page1.webp" alt="App Preview" />

    <br /><br />

    <a href="/login">Login</a>

    <a href="/register">Register</a>

    <hr />

    <h2>About HabitFlow</h2>

    <p>
      HabitFlow helps you build life-changing habits. Track daily progress,
      maintain streaks, and visualize your improvement through analytics.
    </p>
  </body>
</html>
{% endblock %}
