{% extends "base.html" %} {% block content %}
<!doctype html>
<html>
  <head>
    <title>Register</title>
  </head>
  <body>
    <h1>Register for HabitFlow</h1>

    <form method="POST" action="/register">
      <label>Name:</label><br />
      <input type="text" name="name" /><br /><br />

      <label>Email:</label><br />
      <input type="email" name="email" /><br /><br />

      <label>Password:</label><br />
      <input type="password" name="password" /><br /><br />

      <button type="submit">Register</button>
    </form>
  </body>
</html>
{% endblock %}
